<div>
    <div>
        <h4>Today's Analytics</h4>
    </div>
    <div class="row">
        <div class="col">
            <div class="card bg-info text-white">
                <div class="card-body text-center">
                    <h5 class="card-title">{{orderCount}}</h5>
                    <p class="card-text">Orders</p>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card bg-success text-white">
                <div class="card-body text-center">
                    <h5 class="card-title">{{orderTodayCount}}</h5>
                    <p class="card-text">Today's Orders</p>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card bg-warning text-white">
                <div class="card-body text-center">
                    <h5 class="card-title">{{today_total_amount}}</h5>
                    <p class="card-text">Today's Collections</p>
                </div>
            </div>
        </div>
    </div>
</div>
