{% extends 'base2.html' %}

{% block content %}
<div class="card" id="receipt">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h3 class="text-center mb-4">{{ setting.hotel_name | default:"" }}</h3>
                            <div class="row">
                                <div class="col">{{ setting.phone_number | default:"" }}</div> <div class="col">{{ setting.email | default:"" }}</div>
                            </div>
                        </div>
                        <h5 class="text-center mb-4">Reservation Receipt</h5>
                        <p><strong class="text-bold">Receipt Number: </strong> {{ reservation.random_id }}</p>

                        <div class="row">
                            <div class="col-6">
                                <h6>Customer:</h6>
                                <p>{{ reservation.customer.name }}</p>
                            </div>
                            <div class="col-6 text-right">
                                <h6>Reservation Date:</h6>
                                <p>{{ reservation.reservation_date }}</p>
                            </div>
                        </div>

                        <h6>Reservation Details</h6>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Room</th>
                                    <th>Total Nights</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ reservation.room.room_number }}</td>
                                    <td>{{ reservation.total_nights }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-6">
                                <h6>Check-In Date:</h6>
                                <p>{{ reservation.check_in_date }}</p>
                            </div>
                            <div class="col-6 text-right">
                                <h6>Check-Out Date:</h6>
                                <p>{{ reservation.check_out_date }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h6>Status:</h6>
                                <p>{{ reservation.status }}</p>
                            </div>
                            <div class="col-6 text-right">
                                <h6>Special Requests:</h6>
                                <p>{{ reservation.special_requests|default:"None" }}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="text-center">
                            <p><strong>Thank you for staying with us!</strong></p>
                            <p><em>Created by: {{ reservation.created_by.username }}</em></p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary no-print" onclick="window.print()">Print Receipt</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_css %}
<style>
    /* Hide unnecessary elements during print */
    @media print {
        body * {
            visibility: hidden;
        }

        #receipt, #receipt * {
            visibility: visible;
        }

        #receipt {
            position: absolute;
            left: 0;
            top: 0;
        }

        .no-print {
            display: none;
        }
    }
</style>
{% endblock extra_css %}
