{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Export Order Items to CSV</h2>
    <p>Select a time range to export order items:</p>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="/manager/general-orders/" class="btn btn-primary btn-sm">Download Orders</a>
        </li>
        <li class="list-group-item">
            <a href="/manager/paid-orders/" class="btn btn-success btn-sm">Download Paid Orders</a>
        </li>
        <li class="list-group-item">
            <!-- <a href="" class="btn btn-warning btn-sm">Download Monthly Orders</a> -->
        </li>
        <li class="list-group-item">
            <!-- <a href="" class="btn btn-danger btn-sm">Download Yearly Orders</a> -->
        </li>
    </ul>
</div>
{% endblock content %}
