{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Export Order Items to CSV</h2>
    <p>Select a time range to export order items:</p>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="/manager/general-orders/" class="btn btn-primary btn-sm">Download Orders</a>
        </li>
        <li class="list-group-item">
            <a href="/manager/orders-transactions/csv/" class="btn btn-info btn-sm">Download Order Collections</a>
        </li>
        <li class="list-group-item">
            <a href="/manager/paid-orders/" class="btn btn-success btn-sm">Download Paid Orders</a>
        </li>
        <li class="list-group-item">
            <a href="/room_bookings/report/csv/" class="btn btn-warning btn-sm">Download Reservation Reports</a>
        </li>
        <li class="list-group-item">
            <a href="/others/packages/report/" class="btn btn-danger btn-sm">Download OtherPackages Reports</a>
        </li>
    </ul>
</div>
{% endblock content %}
