{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">Booking Details</h4>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tr>
                            <th class="text-end pe-3" style="width: 40%;">Booking Date:</th>
                            <td class="text-start">{{ booking.booking_date }}</td>
                        </tr>
                        <tr>
                            <th class="text-end pe-3">First Name:</th>
                            <td class="text-start">{{ booking.first_name }}</td>
                        </tr>
                        <tr>
                            <th class="text-end pe-3">Last Name:</th>
                            <td class="text-start">{{ booking.last_name }}</td>
                        </tr>
                        <tr>
                            <th class="text-end pe-3">Email:</th>
                            <td class="text-start">{{ booking.email }}</td>
                        </tr>
                        <tr>
                            <th class="text-end pe-3">Contact:</th>
                            <td class="text-start">{{ booking.contact }}</td>
                        </tr>
                        <tr>
                            <th class="text-end pe-3">Room:</th>
                            <td class="text-start">{{ booking.room }}</td>
                        </tr>
                        <tr>
                            <th class="text-end pe-3">Check In:</th>
                            <td class="text-start">{{ booking.check_in }}</td>
                        </tr>
                        <tr>
                            <th class="text-end pe-3">Check Out:</th>
                            <td class="text-start">{{ booking.check_out }}</td>
                        </tr>
                        <tr>
                            <th class="text-end pe-3">Guests:</th>
                            <td class="text-start">{{ booking.guests }}</td>
                        </tr>
                        <tr>
                            <th class="text-end pe-3">Special Requests:</th>
                            <td class="text-start">{{ booking.special_requests|default:"None" }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center">
                    {% if not booking.reservation %}
                    <a href="{% url 'convert_to_reservation' booking.id %}"
                       class="btn btn-success">
                      Convert to Reservation (Check-In)
                    </a>
                  {% else %}
                    <a href="{% url 'reservation_detail' booking.reservation.id %}"
                       class="btn btn-primary">
                      View Reservation
                    </a>
                  {% endif %}
                
                  <a href="{% url 'booked_rooms' %}" class="btn btn-secondary">Back</a>
                    <a href="{% url 'booked_rooms' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left me-2"></i>Back to Bookings
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}